{% extends "grid_base.html" %}
{% load static %}

{% block container %}
    <div class="container">
        <div class="page-header">
            <h1>Issue #{{ object.id }}
            <small>{{ object.name }}</small>
            </h1>
        </div>
        <div class="well text-muted">
            {{ object.description|linebreaks }}
        </div>
        <div class="buttons pull-right">
            {% if object.boardposition.status.next %}
                <a class="btn btn-primary"
                   href="{% url 'issue-advance' object.id %}">To {{ object.boardposition.status.next.name }}</a>
            {% else %}
                <form class="form-inline" role="form" method="post" action="{% url 'issue-onboard' issue.id %}">
                    {% csrf_token %}
                    {{ board_form }}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}