<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Issue #{{ object.id }} - {{ object.name }}</h4>
        </div>
        <div class="modal-body">
            {% if  object.description%}
            <div class="well text-muted">
                {{ object.description|linebreaks }}
            </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            {% if object.boardposition.status.next %}
                <a class="btn btn-primary"
                   href="{% url 'issue-advance' object.id %}">To {{ object.boardposition.status.next.name }}</a>
            {% else %}
                <form class="form-inline" role="form" method="post" action="{% url 'issue-onboard' issue.id %}">
                    {% csrf_token %}
                    {{ board_form }}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>