{% extends "grid_base.html" %}
{% load mathfilters %}

{% block container %}
    <div class="container links">
        <div class="col-md-12">
            <ul class="nav nav-pills navbar-right">
                <li>
                    <a href="{% url "board-report" object.id %}" class="glyphicon glyphicon-print">
                        <span>Report</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="steps">
            {% for step in object.steps %}
                <div class="{{ panel_size_class }}">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ step.name }}</h3>
                        </div>
                        <div class="panel-body">
                            {% for position in step.boardposition_set.all %}
                                {% if position.show %}
                                {% include "issues/includes/issue_list_item.html" with object=position.issue only %}
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



    </div>


{% endblock %}