{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}Kamboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block extrahead %}
    {% endblock %}

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    {% block css %}
    {% endblock %}


</head>

<body>

{% block navbar %}
{% endblock %}
{% include "navbar.html" %}
{% block container %}
{% endblock %}

{% block footer %}
{% endblock %}

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "js/dynamic_modal.js" %}"></script>

{% block javascript %}
{% endblock %}

</body>
</html>
