{% extends "grid_base.html" %}
{% load static %}
{% block css %}
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="container">
        <h1>{{ object.name }}</h1>

        <div class="board">

            {% for step in object.steps %}
                <div class="col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ step.name }}</h3>
                        </div>
                        <div class="panel-body">
                            {% for position in step.boardposition_set.all %}
                                <div class="story">
                                    <span class="label label-default">#{{ position.story.id }} {{ position.story.name }}</span>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}