{% extends "grid_base.html" %}
{% load static %}
{% block css %}
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="container">
        <h1>Kamboard</h1>


        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Board</th>
                </tr>
                </thead>
                <tbody>
                {% for board in object_list %}
                    <tr>
                        <td><a href="{% url "board-detail" board.id %}">{{ board.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="icebox">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">ICEBOX</h3>
                    </div>
                    <div class="panel-body">
                        {% for issue in icebox %}
                            {% include "core/includes/issue_list_item.html" with object=issue only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}