
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Story #{{ object.id }} - {{ object.name }}</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
          {% if object.boardposition.status.next %}
              <a class="btn btn-primary" href="{% url 'story-advance' object.id %}">To {{ object.boardposition.status.next }}</a>
          {% endif %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->